//ad
.ad {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .single-item {
        margin: 0;

        .slick-list {
            height: 100%;

            .slick-track {
                height: 100%;

                img {
                    outline: none;
                }
            }
        }
        
        .slick-dots {
            bottom: 0;

            li {
                margin: 0 8px;
                
                button {

                    &::before {
                        width: 30px;
                        height: 3px;
                        background: $mainBG_2;
                        opacity: 0.5;
                        color: transparent;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &.slick-active {

                    button {

                        &::before {
                            opacity: 1;
                            background: $mainBG_2;
                        }
                    }
                }
            }
        }
    }
}