//優惠選擇列
.eventType {
    width: 100%;
    height: auto;
    overflow-x: auto;
    background: $mainBG_1;

    ul {
        display: flex;

        li {
            width: 22.4vw;
            height: 72px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border-bottom: solid 2px transparent;

            &:active,&.active {
                border-color: $choose_Border;

                span {
                    color: $choose_ActiveWord;
                }
            }

            .all_ic {
                width: 25px;
                height: 25px;
                margin-bottom: 8px;
            }

            span {
                font-size: 12px;
                font-weight: bold;
                color: $choose_Word;
            }
        }
    }
}

//優惠列表
.eventList {
    width: 100%;
    height: calc(100vh - 168px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 14px 0;
    background: $mainBG_2;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 100%;
            height: auto;
            margin-bottom: 12px;

            .eventBox {
                width: 100%;
                height: auto;
                background: $mainBG_1;
                border-radius: 1.5vw;
                overflow: hidden;
                border: solid 1px $mainBorder_2;

                .eventImg {
                    background: $mainBG_2;
                    margin: 6px auto 10px;
                    border-radius: 5px;
                    overflow: hidden;
                }

                p {
                    width: 100%;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 0 15px;
                    justify-content: flex-end;

                    button {
                        width: 95px;
                        height: 27px;
                        @include checkEvent;
                    }
                }
            }
        }
    }
}

//優惠內頁
.eventDetail {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    background: $mainBG_2;
    overflow-y: auto;

    .eventImg {
        box-sizing: border-box;
        padding: 6px;
    }

    .detailContent {
        width: 94.13vw;
        height: auto;
        box-sizing: border-box;
        padding: 10px 15px 15px;
        margin-top: 10px;
        background: $mainBG_1;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 $boxshadow_2;

        ul {

            .title {
                width: 100%;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
                color: $title_1;
            }

            ul {
                list-style: disc;
                width: 90%;
                margin: 0 auto;

                li {
                    font-size: 14px;
                    font-weight: bold;
                    color: $mainWord_1;
                    margin-top: 20px;
                    color: $title_2;
                    line-height: 18px;

                    &:nth-of-type(1) {
                        margin-top: 10px;
                    }

                    .innerImg {
                        margin-top: 10px;
                    }

                    ul {
                        list-style: decimal;
    
                        li {
                            color: $mainWord_1;
                            margin-top: 10px;

                            &.sp {
                                color: $remind;
                            }
                        }
                    }
                }
            }
        }

        .contentFooter {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
        }
    }
}