//header
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;

    //content
    .content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 45px;
        background: $mainBG_1;
        padding: 0 14px;
        box-sizing: border-box;
        position: relative;

        .title {
            width: 70%;
            height: auto;
            text-align: center;
            font-size: 20px;
            letter-spacing: 2px;
            color: $title_Header;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0 auto;
        }

        .back_arrow {
            position: absolute;
            width: 10px;
            height: 20px;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: 14px;
        }

        .refresh_ic {
            width: 21px;
            height: 21px;
            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
        }

        .detailBtn {
            width: auto;
            height: 27px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
            @include noBgBtn;

            &.edit {
                display: none;

                &.display {
                    display: block;
                }
            }
        }

        .editBtn {
            width: 21px;
            height: 21px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
            display: none;

            &.display {
                display: block;
            }
        }

        &.helpPage {
            display: none;

            &.display {
                display: flex;
            }
        }
    }
}