//幫助中心外層
.helpWrap {
    display: none;
    width: 100%;
    height: auto;
    background: $mainBG_2;

    &.display {
        display: block;
    }

    //開頭選單
    .helpHeader {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px $mainBorder_1;

        .selectBox {
            width: 92.27vw;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $mainBG_1;
            box-shadow: 0 0 13px 2px $boxshadow_1;
            position: relative;
            border-radius: 5px;
            border: solid 1px $mainBorder_2;

            p {
                color: $title_1;
                font-size: 14px;
                font-weight: bold;
            }

            .arrow_ic {
                display: block;
                width: 2vw;
                height: 3.4vw;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(270deg);
                right: 4vw;
                transition: 0.3s all;
            }

            select {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                padding-left: 15px;
                color: $mainWord_1;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    //內容
    .helpBody {
        width: 100%;
        height: calc(100vh - 164px);
        overflow-y: auto;

        ul {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 15px 4vw;

            li {
                width: 100%;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $mainBG_1;
                border-radius: 5px;
                box-shadow: 0 0 5px 0 $boxshadow_2;
                margin-bottom: 15px;
                font-size: 14px;
                font-weight: bold;
                color: $title_2;
                border: solid 1px $mainBorder_2;
            }
        }
    }
}

//幫助中心內層
.helpInner {
    display: none;
    width: 100%;
    height: calc(100vh - 94px);
    overflow-y: auto;

    &.display {
        display: block;
    }

    ul {
        display: none;
        width: 100%;
        height: auto;

        &.display {
            display: block;
        }

        li {
            width: 100%;
            height: auto;
            margin: 14px 0;

            &.active {

                .title {

                    .arrow_ic {
                        transform: rotate(270deg);
                    }
                }

                .textBox {
                    display: block;
                }
            }

            .title {
                width: 92.27vw;
                height: 52px;
                background: $mainBG_1;
                box-shadow: 0 0 5px 0 $boxshadow_2;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                border: solid 1px $mainBorder_2;

                .icon {
                    display: block;
                    width: 15px;
                    height: 15px;
                    margin: 0 4vw;
                    flex-shrink: 0;
                }

                .arrow_ic {
                    display: block;
                    width: 2vw;
                    height: 3.4vw;
                    margin: 0 4vw;
                    flex-shrink: 0;
                    transform: rotate(180deg);
                    transition: 0.3s all;
                }

                p {
                    width: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    color: $title_1;
                }
            }

            .textBox {
                display: none;
                width: 92.27vw;
                height: auto;
                box-sizing: border-box;
                padding: 10px;
                margin: 0 auto;
                border: solid 1px $mainBorder_2;
                border-top: none;
                background: $mainBG_1;
                border-radius: 0 0 5px 5px;

                &.app {
                    background: none;
                    border: none;
                }

                p {
                    line-height: 22px;
                    font-size: 14px;
                    font-weight: bold;
                    color: $help_Word;
                    margin-bottom: 8px;

                    &.smallTitle {
                        font-size: 22px;
                        margin: 20px 0 10px;
                        color: $help_Title;
                        text-align: center;

                        &.first {
                            margin-top: 0;
                        }
                    }

                    &.platform {
                        font-size: 18px;
                        color: $help_Title;
                        margin: 15px 0;
                        text-align: center;

                        .downloadBtn {
                            width: 144px;
                            margin-left: 10px;
                        }
                    }

                    a {
                        color: $click;
                        text-decoration: none;
                    }
                }

                .img {
                    width: 100%;
                    height: 0;
                    padding-top: 87%;
                    margin: 10px 0;

                    &.transferWay {
                        padding-top: 111%;
                    }

                    &.remote {
                        padding-top: 137%;
                    }

                    &.license {
                        padding-top: 134%;
                    }
                }

                .btnBox {
                    width: 100%;
                    height: auto;
                    margin-top: 20px;

                    div {
                        width: 100%;
                        height: 105px;
                        position: relative;
                        margin-bottom: 15px;
                        @include help_lineBtn;

                        i {
                            display: block;
                            position: absolute;
                            width: 8.7vw;
                            height: 8.7vw;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 5.5vw;
                            
                        }

                        p {
                            font-size: 3.4vw;
                            font-weight: bold;
                            margin: 0;

                            &:nth-of-type(1) {
                                font-size: 5vw;
                            }
                        }
                    }
                }

                .downloadBtn {
                    width: 100%;
                    height: 42px;
                    @include mainBtn;
                }
            }
        }
    }
}