//marquee_ic
.marqueeBox .marquee_ic {
    background: url('../images/icon/svg/marquee.svg') no-repeat;
    background-size: 100%;
}

//login_ic
.loginBtn .login_ic {
    background: url('../images/icon/svg/sign_in.svg') no-repeat;
    background-size: 100%;
}

//gameList ic
.gameList .slotBtn .slot_ic {
    background: url('../images/icon/svg/slot.svg') no-repeat;
    background-size: 100%;
}
.gameList .fishBtn .fish_ic {
    background: url('../images/icon/svg/fish.svg') no-repeat;
    background-size: 100%;
}
.gameList .liveBtn .live_ic {
    background: url('../images/icon/svg/live.svg') no-repeat;
    background-size: 100%;
}
.gameList .sportBtn .sport_ic {
    background: url('../images/icon/svg/sport.svg') no-repeat;
    background-size: 100%;
}
.gameList .lotteryBtn .lottery_ic {
    background: url('../images/icon/svg/lotto.svg') no-repeat;
    background-size: 100%;
}
.gameList .boardBtn .board_ic {
    background: url('../images/icon/svg/board.svg') no-repeat;
    background-size: 100%;
}

.gameList .slotBtn.active .slot_ic {
    background: url('../images/icon/svg/slot2.svg') no-repeat;
    background-size: 100%;
}
.gameList .fishBtn.active .fish_ic {
    background: url('../images/icon/svg/fish2.svg') no-repeat;
    background-size: 100%;
}
.gameList .liveBtn.active .live_ic {
    background: url('../images/icon/svg/live2.svg') no-repeat;
    background-size: 100%;
}
.gameList .sportBtn.active .sport_ic {
    background: url('../images/icon/svg/sport2.svg') no-repeat;
    background-size: 100%;
}
.gameList .lotteryBtn.active .lottery_ic {
    background: url('../images/icon/svg/lotto2.svg') no-repeat;
    background-size: 100%;
}
.gameList .boardBtn.active .board_ic {
    background: url('../images/icon/svg/board2.svg') no-repeat;
    background-size: 100%;
}

//footer ic
footer li .menu_ic {
    background: url('../images/icon/svg/home.svg') no-repeat top center;
    background-size: 100%;
}
footer li .event_ic {
    background: url('../images/icon/svg/discount.svg') no-repeat top center;
    background-size: 100%;
}
footer li .wallet_ic {
    background: url('../images/icon/svg/wallet.svg') no-repeat top center;
    background-size: 100%;
}
footer li .service_ic {
    background: url('../images/icon/svg/service.svg') no-repeat top center;
    background-size: 72%;
}
footer li .center_ic {
    background: url('../images/icon/svg/member.svg') no-repeat top center;
    background-size: 79%;
}

footer li.active .menu_ic {
    background: url('../images/icon/svg/home2.svg') no-repeat top center;
    background-size: 100%;
}
footer li.active .event_ic {
    background: url('../images/icon/svg/discount2.svg') no-repeat top center;
    background-size: 100%;
}
footer li.active .wallet_ic {
    background: url('../images/icon/svg/wallet2.svg') no-repeat top center;
    background-size: 100%;
}
footer li.active .service_ic {
    background: url('../images/icon/svg/service2.svg') no-repeat top center;
    background-size: 72%;
}
footer li.active .center_ic {
    background: url('../images/icon/svg/member2.svg') no-repeat top center;
    background-size: 79%;
}

//jumpWindow .close_ic
.jumpWindow .title .close {
    background: url('../images/icon/svg/close.svg') no-repeat;
    background-size: 100%;
}
//jumpWindow.login login_ic
.jumpWindow.loginWindow .title .icon,
.jumpWindow.registerWindow .title .icon {
    background: url('../images/icon/svg/sign_in_w.svg') no-repeat;
    background-size: 100%;
}
//jumpWindow .eye
.jumpWindow .eye {
    background: url('../images/icon/svg/eye.svg') no-repeat;
    background-size: 100%;
}
//jumpWindow .choose ic
.jumpWindow .choose .line span {
    background: url('../images/icon/choose_ic.png') no-repeat;
    background-size: 100%;
}
.jumpWindow .choose .weChat span {
    background: url('../images/icon/choose_ic.png') no-repeat;
    background-size: 100%;
    background-position-y: 100%;
}

//header back_arrow
header .back_arrow {
    background: url('../images/icon/svg/arrow_w.svg') no-repeat;
    background-size: 100%;
}
//header refreash_ic
header .refresh_ic {
    background: url('../images/icon/svg/refresh_w.svg') no-repeat;
    background-size: 100%;
}

//slotPage .slotHeader ic
.slotHeader li .all_ic {
    background: url('../images/icon/svg/all.svg') no-repeat;
    background-size: 100%;
}
.slotHeader li .hot_ic {
    background: url('../images/icon/svg/popular.svg') no-repeat;
    background-size: 100%;
}
.slotHeader li .love_ic {
    background: url('../images/icon/svg/favorite.svg') no-repeat;
    background-size: 100%;
}

.slotHeader li.active .all_ic {
    background: url('../images/icon/svg/all2.svg') no-repeat;
    background-size: 100%;
}
.slotHeader li.active .hot_ic {
    background: url('../images/icon/svg/popular2.svg') no-repeat;
    background-size: 100%;
}
.slotHeader li.active .love_ic {
    background: url('../images/icon/svg/favorite2.svg') no-repeat;
    background-size: 100%;
}
//slotPage .search_ic
.slotHeader .search_ic {
    background: url('../images/icon/svg/search.svg') no-repeat;
    background-size: 100%;
}
//slotPage .gameBox .love
.slotWrap .gameBox .love {
    background: url('../images/icon/svg/love1.svg') no-repeat;
    background-size: 100%;
}
.slotWrap .gameBox .love.active {
    background: url('../images/icon/svg/love2.svg') no-repeat;
    background-size: 100%;
}

//event .all_ic
.eventType .all_ic {
    background: url('../images/icon/svg/entire.svg') no-repeat;
    background-size: 100%;
}
.eventType li.active .all_ic {
    background: url('../images/icon/svg/entire2.svg') no-repeat;
    background-size: 100%;
}

//wallet .amount ic
.walletWrap .amount .title .icon {
    background: url('../images/icon/svg/problem_gr.svg') no-repeat;
    background-size: 100%;
}
//wallet 轉存提ic
.walletWrap .deposit_ic {
    background: url('../images/icon/svg/deposit.svg') no-repeat;
    background-size: 100%;
}
.walletWrap .transfer_ic {
    background: url('../images/icon/svg/transfer.svg') no-repeat;
    background-size: 100%;
}
.walletWrap .withdrawal_ic {
    background: url('../images/icon/svg/withdrawal.svg') no-repeat;
    background-size: 100%;
}
//wallet db_arrow
.walletWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}
//wallert refresh_ic
.walletWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}

//member .arrow_ic
.memberWrap .arrow_ic {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}
//member .wallet_ic+vip_ic
.memberWrap .wallet_ic {
    background: url('../images/icon/svg/wallet_r.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .vip_ic {
    background: url('../images/icon/svg/vip.svg') no-repeat center;
    background-size: 100%;
}
//member .user ul ic
.memberWrap .bet_ic {
    background: url('../images/icon/svg/betting_record.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .deal_ic {
    background: url('../images/icon/svg/transaction.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .mail_ic {
    background: url('../images/icon/svg/mail.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .card_ic {
    background: url('../images/icon/svg/bankcard.svg') no-repeat center;
    background-size: 100%;
}
//member 選項條ic
.memberWrap .event_ic {
    background: url('../images/icon/svg/quest.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .eventApply_ic {
    background: url('../images/icon/svg/application.svg') no-repeat center;
    background-size: 69%;
}
.memberWrap .help_ic {
    background: url('../images/icon/svg/problem.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .about_ic {
    background: url('../images/icon/svg/marvel.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .join_ic {
    background: url('../images/icon/svg/joinus.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .app_ic {
    background: url('../images/icon/svg/download.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .lang_ic {
    background: url('../images/icon/svg/language.svg') no-repeat center;
    background-size: 100%;
}
.memberWrap .logout_ic {
    background: url('../images/icon/svg/exit.svg') no-repeat center;
    background-size: 100%;
}

//app .download_ic
.appWrap .download_ic {
    background: url('../images/icon/svg/download.svg') no-repeat;
    background-size: 100%;
}

//joinUsWrap
.joinUsWrap {
    background: url('../images/joinus_bg.png') no-repeat;
    background-size: 100%;
}
//joinUsWrap ic
.joinUsWrap .accurate_ic {
    background: url('../images/icon/svg/accurate.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .quality_ic {
    background: url('../images/icon/svg/quality.svg') no-repeat center;
    background-size: 65%;
}
.joinUsWrap .commission_ic {
    background: url('../images/icon/svg/commission.svg') no-repeat;
    background-size: 100%;
}

.joinUsWrap .phone_ic {
    background: url('../images/icon/svg/24hr.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .line_ic {
    background: url('../images/icon/svg/line.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .weChat_ic {
    background: url('../images/icon/svg/wechat.svg') no-repeat;
    background-size: 100%;
}

.joinUsWrap .abundant_ic {
    background: url('../images/icon/svg/abundant.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .stable_ic {
    background: url('../images/icon/svg/stable.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .secret_ic {
    background: url('../images/icon/svg/secret.svg') no-repeat;
    background-size: 100%;
}
.joinUsWrap .safety_ic {
    background: url('../images/icon/svg/safety.svg') no-repeat;
    background-size: 100%;
}
//joinUsWrap .photo+.phone
.joinUsWrap .photo {
    background: url('../images/join_01.png') no-repeat;
    background-size: 100%;
}
.joinUsWrap .phone {
    background: url('../images/join_02.png') no-repeat;
    background-size: 100%;
}

//helpWrap arrow_ic
.helpWrap .selectBox .arrow_ic {
    background: url('../images/icon/svg/arrow_gray.svg') no-repeat;
    background-size: 100%;
}
.helpInner .title .arrow_ic {
    background: url('../images/icon/svg/arrow_gray.svg') no-repeat;
    background-size: 100%;
}
//helpInner icon
.helpInner .title .about {
    background: url('../images/icon/svg/about.svg') no-repeat center;
    background-size: contain;
}
.helpInner .title .new {
    background: url('../images/icon/svg/lamp.svg') no-repeat center;
    background-size: contain;
}
.helpInner .title .often {
    background: url('../images/icon/svg/problem2.svg') no-repeat center;
    background-size: contain;
}
//helpInner .img
.helpInner .img.depositWay {
    background: url('../images/說明圖/withdraw.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.deposit_water {
    background: url('../images/說明圖/online01.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.withdrawalWay {
    background: url('../images/說明圖/withdraw.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.transferWay {
    background: url('../images/說明圖/transfer.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.tv {
    background: url('../images/說明圖/tv.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.remote {
    background: url('../images/說明圖/remote.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.license {
    background: url('../images/說明圖/license.jpg') no-repeat;
    background-size: 100%;
}

//member_info
.memberInfo .info_2 .check {
    background: url('../images/icon/svg/check.svg') no-repeat;
    background-size: 100%;
}
.memberInfo .info_2 .noCheck {
    background: url('../images/icon/svg/nocheck.svg') no-repeat;
    background-size: 100%;
}
.memberInfo .info_2 .arrow_ic {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}

//vip
.vipWrap .medal {
    background: url('../images/medal.png') no-repeat center;
    background-size: contain;
}
//vip cardBox arrow
.vipWrap .cardBox i {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: contain;
}
.vipWrap .checkBtn .arrow {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: contain;
}
.vipDetail .list i::before {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: contain;
}
//vip .card
.vipWrap .cardBox .card li {
    background: url('../images/vip_card.png') no-repeat;
    background-size: cover;
}
.vipWrap .cardBox .card li.cur {
    background: url('../images/vip_card_a.png') no-repeat;
    background-size: cover;
}

//mail
header .editBtn {
    background: url('../images/icon/svg/edit.svg') no-repeat;
    background-size: 100%;
}

//card
.cardList .cardBox .add {
    background: url('../images/icon/svg/add.svg') no-repeat center;
    background-size: 20%;
}

//deposit
.depositWrap .card_ic {
    background: url('../images/icon/svg/card.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .atm_ic {
    background: url('../images/icon/svg/atm.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .shop_ic {
    background: url('../images/icon/svg/shop.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .listWrap li.active::after {
    background: url('../images/icon/check_w.png') no-repeat center;
    background-size: contain;
}

//transdrawal
.transWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}
.transWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}

//withdrawal
.withWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}
.withWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}

//loading
.jumpWindow.loading .img {
    background: url('../images/icon/svg/loading_b.svg') no-repeat;
    background-size: 100%;
}

//新增i
.walletList .forPlatform .smallInfo,
.transWrap .forPlatform .smallInfo,
.withWrap .detailBox .smallInfo {
    background: url('../images/icon/svg/information.svg') no-repeat;
    background-size: 100%;
}

//finger
.vipDetail .finger {
    background: url('../images/icon/finger.png') no-repeat center;
    background-size: contain;
}

//新增雙箭頭
.jumpWindow.bettingDetail .pageBox .arrowBox i {
    background: url('../images/icon/svg/unfold.svg') no-repeat center;
    background-size: contain;
}

//新增help客服頁ic
.helpInner .btnBox .online_ic {
    background: url('../images/icon/svg/service3.svg') no-repeat center;
    background-size: contain;
}
.helpInner .btnBox .line_ic {
    background: url('../images/icon/svg/line.svg') no-repeat center;
    background-size: contain;
}


////////img↓


//header - logo
header .logo {
    width: 56px;
}

//ad - banner
.single-item {
    width: 100%;
    height: 43.73vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

//home - 遊戲廠商圖
.homeCenter .gameBox img {
    width: 28.27vw;
    height: 17.4vw;
    object-fit: contain;
}

//slotPage - .gameBox img
.slotWrap .gameBox img {
    width: 100%;
    height: 106px;
    object-fit: cover;
}

//eventImg
.eventList .eventImg {
    width: 100%;
    height: 38.28vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.eventDetail .eventImg {
    width: 100%;
    height: 41vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

//app
.appWrap img {
    width: 100%;
    height: 96px;
    object-fit: cover;
}

//eventWindow img
.eventWindow {

    img {
        width: 100%;
        height: auto;
    }
}