html {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    body {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        main {
            padding: 45px 0 48px;
        }

        .bg {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -999;
        }

        @import "./header";
        @import "./ad";
        @import "./home";
        @import "./footer";
        @import "./jumpWindow";
        @import "./rwd";
        @import "./slotPage";
        @import "./event";
        @import "./wallet";
        @import "./member";
        @import "./app";
        @import "./joinUs";
        @import "./help";
        @import "./eventApply";
        @import "./vip";
        @import "./mail";
        @import "./card";
        @import "./record";
        @import "./deposit";
        @import "./transfer";
        @import "./withdrawal";
    }
}