//會員中心
.memberWrap {
    width: 100%;
    height: auto;
    min-height: calc(100% - 92px);
    background: $mainBG_3;
    padding-bottom: 10px;

    //玩家資訊
    .user {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        background: $mainBG_2;
        padding-bottom: 13px;

        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 20px 15px;
            box-sizing: border-box;
            width: 100%;
            height: auto;

            div {

                .account {
                    display: flex;
                    align-items: center;
                    margin-bottom: 6px;
                    font-size: 16px;
                    letter-spacing: 2px;
                    color: $mainWord_1;
                    font-weight: bold;

                    .lv {
                        width: auto;
                        height: 18px;
                        margin-right: 9px;
                        @include operateLV
                    }
                }

                .date {
                    font-size: 13px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    color: $title_Time;
                }
            }

            // .arrow_ic {
            //     display: block;
            //     width: 1.7vw;
            //     height: 3.2vw;
            //     transform: scaleX(-1);
            // }

            .infoBtn {
                width: auto;
                height: auto;
                @include mainBtn;
                font-size: 14px;
                padding: 3px 15px;
            }
        }

        .wallet {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;

            p {
                width: 64.53vw;
                height: 8.27vw;
                @include memberWallet
            }

            button {
                width: 27.73vw;
                height: 8.27vw;
                @include mainBtn;
                border-radius: 0 5vw 5vw 0;
                font-size: 15px;
            }
        }

        .btnBox {
            display: flex;
            width: 92.26vw;
            height: auto;
            margin: 0 auto;
            justify-content: space-between;

            button {
                width: 100%;
                height: 18.4vw;
                @include normalBtn;

                .wallet_ic {
                    display: block;
                    width: 8.8vw;
                    height: 8.8vw;
                }

                // .vip_ic {
                //     display: block;
                //     width: 10vw;
                //     height: 10vw;
                // }

                .text {
                    margin-left: 3.47vw;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    color: $title_2;

                    p {
                        font-size: 12px;
                        letter-spacing: 1px;
                        color: $title_3;
                        text-align: left;
                    }
                }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 92.26vw;
            margin: 15px auto 0;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 20.53vw;
                height: auto;
                position: relative;

                i {
                    display: block;
                    width: 10.4vw;
                    height: 9.33vw;
                }

                p {
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-top: 5px;
                    color: $optionColor;
                }

                .bubble {
                    min-width: 20px;
                    min-height: 20px;
                    top: -7px;
                    right: 10px;
                    @include mailBubble;
                }
            }
        }
    }

    //選項條
    .options {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 14px 0 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $mainBG_2;
        margin-bottom: 10px;

        &.opLang {
                
            p {
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        div {
            display: flex;
            align-items: center;

            i {
                display: block;
                margin-right: 18px;
                width: 5.6vw;
                height: 5.6vw;
            }

            p {
                font-size: 15px;
                letter-spacing: 2px;
                font-weight: bold;
                color: $optionColor;
            }
        }

        .arrow_ic {
            display: block;
            width: 1.7vw;
            height: 3.2vw;
            transform: scaleX(-1);
        }
    }
}

//會員中心內頁滑軸
.memberList {
    background: $mainBG_2;
    width: 100%;
    height: auto;

    ul {
        width: 100%;
        height: auto;
        display: flex;

        li {
            width: 50%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border-bottom: solid 2px transparent;
            font-size: 3.4vw;
            font-weight: bold;
            color: $choose_Word;

            &:active,&.active {
                color: $choose_ActiveWord;
                border-color: $choose_Border;
            }
        }
    }
}

//會員中心內頁基本情報
.memberInfo {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 136px);
    padding: 10px 0;
    box-sizing: border-box;
    background: $mainBG_3;

    form {
        width: 100%;
        height: auto;

        ul {
            width: 100%;
            height: auto;
            background: $mainBG_2;
            padding-bottom: 12px;

            li {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 0 17px;
                border-bottom: solid 1px $mainBorder_1;

                &.active {
                    height: 103px;

                    button {
                        display: block;
                    }
                }

                em {
                    position: relative;
                    top: -1px;

                    &::before {
                        content: "※ ";
                        color: $remind;
                        padding: 0 5px 0 0;
                        font-size: 14px;
                    }
                }

                span {
                    width: 20vw;
                    font-weight: bold;
                    font-size: 14px;
                    color: $title_2;
                }

                input {
                    width: 64vw;
                    height: 42px;
                    @include memberInput;
                }

                button {
                    display: none;
                    @include mainBtn;
                    width: 100%;
                    height: 42px;
                    margin-bottom: 2px;
                }
            }

            .saveBtn {
                display: block;
                width: 92vw;
                height: 42px;
                margin: 12px auto 0;
                @include mainBtn;
            }
        }
    }

    .info_1,.info_2 {
        width: 100%;
        height: auto;
        margin: 10px 0;

        &.info_2 {

            span {
                display: flex;
                align-items: center;

                &:nth-of-type(1) {
                    width: 30vw;
                }
            }
        }

        ul {
            width: 100%;
            height: auto;
            background: $mainBG_2;
            
            li {
                width: 100%;
                height: 50px;
                padding: 0px 17px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: solid 1px $mainBorder_1;

                span {
                    font-size: 14px;
                    font-weight: bold;
                    color: $title_2;

                    &.empty {
                        color: $remind;
                    }

                    &:nth-of-type(1) {
                        width: 20vw;
                    }

                    input {
                        background: none;
                        border: none;
                    }

                    .copy {
                        width: 47px;
                        height: 29px;
                        @include noBgBtn_Normal;
                        margin-left: 15px;
                    }

                    .check,.noCheck {
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        margin-right: 10px;
                    }

                    .changePhoneBtn,.changePwdBtn {
                        background: none;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        font-weight: bold;
                        color: $optionColor;
                        margin-left: 10px;

                        i {
                            display: block;
                            width: 9px;
                            height: 16px;
                            transform: scaleX(-1);
                            margin-left: 8px;
                        }
                    }
                }

                .security {
                    width: 100%;
                    height: 40px;
                    @include security;

                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

//會員中心平台帳戶資訊
.memberPlatform {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 136px);
    padding: 10px 4vw;
    box-sizing: border-box;
    background: $mainBG_3;

    .platformBox {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border: solid 1px $mainBorder_1;
        border-radius: 5px;
        background: $mainBG_2;
        margin-bottom: 10px;

        .title {
            width: 100%;
            height: 38px;
            border-bottom: solid 1px $mainBorder_2;
            box-sizing: border-box;
            padding: 0 17px;
            color: $title_1;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        .content {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 0 17px;

            li {
                width: 100%;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    color: $title_2;
                    font-size: 14px;
                    font-weight: bold;

                    span {
                        font-size: 13px;
                        color: $mainWord_1;
                    }

                    button {
                        width: 49px;
                        height: 28px;
                        margin-left: 10px;
                        @include noBgBtn_Normal;

                        &.un {
                            opacity: 0;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}