//VIP會員
.vipWrap {
    width: 100%;
    height: calc(100vh - 94px);
    overflow-y: auto;
    background: $mainBG_2;

    //上部
    .topBox {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        background: $mainBG_1;

        .board {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 0 4vw 7.46vw;
            border-radius: 0 0 40px 40px;
            box-shadow: 0 0 13px 2px $boxshadow_1;
            background: $mainBG_1;
            margin-bottom: 6.66vw;

            .content {
                position: relative;
                padding-top: 12px;
                width: 100%;
                height: auto;
                margin-bottom: 13.33vw;

                .account {
                    font-size: 16px;
                    margin-bottom: 12px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    color: $title_1;
                }

                .textBox {
                    margin-bottom: 12px;
                    font-size: 13px;
                    letter-spacing: 1px;
                    color: $title_2;
                    font-weight: bold;

                    span {
                        font-size: 14px;
                        color: $mainWord_1;
                    }
                }

                .medal {
                    width: 22.93vw;
                    height: 30.13vw;
                    position: absolute;
                    top: 0;
                    right: 5.6vw;
                }
            }

            .exBar {
                width: 100%;
                height: auto;

                .level {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 9px;

                    p {
                        letter-spacing: 1px;
                        font-weight: bold;
                        font-size: 14px;
                        color: $title_2;

                        &.cur {
                            color: $title_1;
                        }
                    }
                }

                .bar {
                    width: 100%;
                    height: 8px;
                    border-radius: 4px;
                    background: $vip_LevelBar;

                    .cur {
                        position: relative;
                        width: 20%;
                        height: 100%;
                        border-radius: 4px;
                        background: $vip_LevelCur;

                        // .percent {
                        //     width: auto;
                        //     height: auto;
                        //     @include smallTip;
                        //     padding: 3px 9px;
                        //     position: absolute;
                        //     top: -28px;
                        //     right: -20px;

                        //     &::before {
                        //         top: unset;
                        //         bottom: -6px;
                        //     }
                        // }
                    }
                }
            }

            // .btnBox {
            //     width: 100%;
            //     height: auto;
            //     display: flex;
            //     justify-content: space-between;
            //     margin-top: 6.66vw;

            //     button {
            //         width: 43.2vw;
            //         height: 42px;
            //         @include mainBtn;
            //         font-size: 3.7vw;

            //         &.check {
            //             @include noBgBtn_Normal
            //             font-size: 3.7vw;
            //         }
            //     }
            // }
        }

        .levelBox {
            width: 92vw;
            height: 5.33vw;
            margin: 0 auto;
            position: relative;

            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                hr {
                    width: 100%;
                    border: solid 1px $mainBorder_1;
                }
            }

            ul {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;
                overflow-x: auto;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    width: 10.66vw;
                    height: 100%;
                    margin-right: 10.99vw;
                    background: $vip_LevelBG;
                    border-radius: 3vw;
                    font-size: 13px;
                    color: $vip_Word;
                    box-sizing: border-box;
                    padding-bottom: 2px;

                    &.cur {
                        background: $vip_LevelLinear;
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        .cardBox {
            width: 100%;
            height: 47.46vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 0 1vw;
            margin-top: 5.33vw;

            i {
                display: block;
                width: 2vw;
                height: 3.4vw;

                &.next {
                    transform: scaleX(-1);
                }
            }

            .card {
                width: 87.27vw;
                height: 47.46vw;
                overflow-x: auto;
                
                ul {
                    display: flex;
                    width: auto;
                    height: auto;

                    li {
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        flex-shrink: 0;
                        width: 87.27vw;
                        height: 47.46vw;
                        box-sizing: border-box;
                        padding: 0 6.67vw;

                        .medal {
                            position: absolute;
                            top: 0;
                            left: 5.6vw;
                            width: 19.47vw;
                            height: 25.87vw;
                        }

                        .textBox {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 6.4vw;
                            font-size: 14px;
                            font-weight: bold;
                            @include vipCardText;

                            p {
                                margin-top: 2.4vw;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    //會員權利
    .enjoyBox {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 15px 12px 12px;
        margin: 10px 0;
        background: $mainBG_1;

        .title {
            margin-bottom: 15px;
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 2px;
            color: $title_1;
            box-sizing: border-box;
            padding-left: 1vw;
        }

        ul {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                width: 45.4vw;
                min-height: 51px;
                height: auto;
                padding: 6px 12px;
                margin: 0 1.6vw 1.6vw 0;
                border: solid 1px $mainBorder_2;
                border-radius: 3px;
                font-size: 13px;
                font-weight: bold;
                color: $title_2;
                box-sizing: border-box;

                &:nth-of-type(2n) {
                    margin-right: 0;
                }

                p {
                    font-size: 22px;
                    color: $mainWord_1;
                    margin-top: 8px;
                }
            }

            s {
                width: 45.33vw;
            }
        }
    }
    
    //查看VIP詳情
    .checkBtn {
        width: 92%;
        height: 50px;
        @include longBtn;
        padding: 0 20px;
        margin: 0 auto 10px;

        .arrow_ic {
            display: block;
            width: 2vw;
            height: 3.4vw;
            transform: scaleX(-1);
        }
    }
}

//各層級詳情
.vipDetail {
    width: 100%;
    height: calc(100vh - 94px);
    overflow-y: auto;
    padding: 5px 0;

    .lvWrap {
        margin: 10px 0;
        padding: 5px 18px;
        width: 100%;
        height: auto;
        background: $mainBG_1;
        box-sizing: border-box;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        .title {
            font-size: 17px;
            font-weight: bold;
            color: $title_1;
            margin: 7px 0 12px;
        }

        .list {
            width: 100%;
            height: auto;
            display: flex;
            box-shadow: 0 0 5px 0 $boxshadow_2;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 15px;
            position: relative;
            border: solid 1px $mainBorder_2;

            i {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10px;
                height: 40px;
                position: absolute;
                top: 0;
                background: $mainBG_1;
                z-index: 1;

                &.prev {
                    left: 19vw;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 14px;
                        z-index: 1;
                    }
                }

                &.next {
                    right: 1vw;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 14px;
                        z-index: 1;
                        transform: scaleX(-1);
                    }
                }
            }

            .left {
                width: 20%;
                height: auto;

                li {
                    height: 40px;
                    display: flex;
                    align-items: center;

                    &:nth-of-type(2n) {
                        background: $vipDetail_SecondBG;
                    }

                    &.smallTitle {
                        border-bottom: solid 1px $mainBorder_1;

                        p {
                            color: $title_2;
                        }
                    }

                    p {
                        width: 100%;
                        box-sizing: border-box;
                        border-right: solid 1px $mainBorder_1;
                        font-weight: bold;
                        text-align: center;
                        font-size: 14px;
                        color: $mainWord_1;
                    }
                }
            }

            .right{
                width: 80%;
                height: auto;
                display: flex;
                overflow-x: auto;
                position: relative;

                ul {
                    width: auto;
                    height: auto;
                    flex-shrink: 0;

                    &:last-child {

                        li {

                            p {
                                border: none;
                            }
                        }
                    }

                    li {
                        width: auto;
                        height: 40px;
                        display: flex;
                        align-items: center;

                        &:nth-of-type(2n) {
                            background: $vipDetail_SecondBG;
                        }
    
                        &.smallTitle {
                            border-bottom: solid 1px $mainBorder_1;
    
                            p {
                                color: $title_2;
                            }
                        }
    
                        p {
                            width: 100%;
                            box-sizing: border-box;
                            border-right: solid 1px $mainBorder_1;
                            font-weight: bold;
                            text-align: center;
                            font-size: 14px;
                            color: $mainWord_1;
                            box-sizing: border-box;
                            padding: 0 15px;
                        }
                    }
                }
            }

            .finger {
                display: block;
                width: 7vw;
                height: 10vw;
                position: absolute;
                right: 4vw;
                bottom: 2vw;
                animation: disappear 4s ease 0s infinite;
    
                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: -20%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent $remind;
                    border-width: 6px 8px 6px 0;
                    animation: moveL 2s ease 0s infinite;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    top: -10px;
                    right: 12%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent $remind;
                    border-width: 6px 0 6px 8px;
                    animation: moveR 2s ease 0s infinite;
                }
            }
    
            @keyframes disappear {
                0% {
                    opacity: 0;
                }
    
                25% {
                    opacity: 1;
                }
    
                75% {
                    opacity: 1;
                }
    
                100% {
                    opacity: 0;
                }
            }
    
            @keyframes moveL {
                0% {
                    transform: translateX(0);
                }
    
                50% {
                    transform: translateX(-140%);
                }
    
                100% {
                    transform: translateX(0);
                }
            }
    
            @keyframes moveR {
                0% {
                    transform: translateX(0);
                }
    
                50% {
                    transform: translateX(140%);
                }
    
                100% {
                    transform: translateX(0);
                }
            }
        }
    }
}